body{
    margin: 0;
    padding: 0;
    background-color: #fef69a
    
}
button{
    position: absolute;
    top: 10%;
    left: 10%;
    transform: translate(-50%,-50%);
    padding: 10px,30;
    background: #fff;
    border: none;
    outline: none;
    font-size: 18px;
    text-transform: uppercase;
    cursor: pointer;
}
