body{
    margin: 0;
    padding: 0;
    background-color: #fef69a
    
}
button{
    background: #fff;
    border: none;
    outline: none;
    font-size: 18px;
    text-transform: uppercase;
    cursor: pointer;
}
