
body {
  margin: 0px;
  font-family: Roboto, Helvetica, sans-serif;
 
  background-size: 1600px 500px;
}
body{
  background-color:#fefac2 ;
  background-position: bottom;
}

#header {
  overflow: hidden;
  background-color: #fef69a;
  margin-left: 200px;
}
#header a {
  float: left;
  color: #db166c;
  text-align: center;
  cursor: pointer;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}
#header a:hover {
  color: #db166c;
  font-weight: bold;
}

.sideNav {
  border-radius: 0px 0px 20px 0px;
  float: left;
  height: 100%;
  width: 0;
  background-color: #fef69a;
  overflow-x: visible;
  position: fixed;
  top: 0;
  left: 0;
  right: 1300;
  bottom: 0;
  overflow: auto;
  padding-top: 15px;
  width: var(--sideNave-width);
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.sideNav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-weight: bold;
  font-size: 25px;
  color: #432256;
  display: block;
  transition: 0.3s;
}

.sideNav a:hover {
  color: #db166c;
  font-weight: 500;
}

.sidenav .closebtn {
  font-size: 36px;
  margin-left: 70%;
}
#container {
  font-size: 36px;
  width: 40%;
  height: 80%;
  margin-left: 30%;
  text-align: center;
  border-radius: 20px;
}
#content {
  background-color: #fef69a;
  margin-top: 30px;
  font-size: 30px;
  height: 30%;
  margin-bottom: 20px;

  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 13px 15px #e6e6e6;
}
#content1 {
  margin: 0%;
  margin-bottom: 20px;
  font-size: 36px;
  height: 30%;
  background-color: #fef69a;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0px 13px 15px #e6e6e6;
}
#content2 {
  font-size: 36px;
  height: 30%;
  margin-bottom: 20px;
  background-color: #fef69a;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0px 13px 15px #e6e6e6;
}

/* Slideshow container */
.slideshow-container {
  width: 80%;
  height: 88%;
  border-radius: 15px;
}

img {
  margin-top: 52px;
  width: 80%;
  height: 88%;
  margin-left: 270;
  border-radius: 15px;
}
.mySlides {
  display: none;
}
.next {
  float: right;
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: 25px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: black;
  opacity: 0.5;
}
.prev {
  float: left;
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: 25px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: black;
  opacity: 0.5;
}
.next {
  right:34;
  border-radius: 3px 0 0 3px;
}
.prev {
  left: 270;
  border-radius: 3px 0 0 3px;
}

.name {
  font-size: 80%;
  margin-right: 5%;
  margin-bottom: 0px;
}

.addtocartbtn {
  float: right;
  margin-top: 18%;
  margin-right: 1%;
  border-radius: 5em;
  color: #fff;
  background: #db166c;
  border: 0;
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 2%;
  padding-top: 2%;
  font-family: 'Ubuntu', sans-serif;
  font-size: 40%;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
  outline: none;
}
.addtocartbtn:hover {
  background-color: indigo;
  outline: none;
}

.ing {
  border-radius: 100000px;
  color: black;
  width: 40%;
  margin-left: 12%;
  font-size: large;
  float: left;
  word-wrap: break-word;
}
.name{
  text-align: center;
  font-size: 50%;
  color: #fff;

}
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  left:150;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
.active {
  background-color: #717171;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
.foot {
  font-size: 0.85rem;
  text-align: right;
 margin-right: 10;
}

.foot span {
  color: var(--red);
}
