body {
  background-repeat: no-repeat;
  font-family: 'Amatic SC', sans-serif;
  /* background-image: url('https://image.freepik.com/free-vector/waiter-keeps-restaurant-menu-waiter-with-blue-apron-style-character-illustration-white-background-website-page-mobile-app_257455-930.jpg'); */
  background-position: center;
  background-attachment: fixed;
  width: 30%;
  margin-left: 33%;
  background-color: #fef69a;
  font-family: 'Ubuntu', sans-serif;
}
.Price {
  float: right;
}
.Ingredients {
  color: grey;
}
.Typeoffood {
  color: hotpink;
  font-family: 'Sofia';
}
td {
  text-align: center;
}
