body {
    font-family: "Amatic SC", sans-serif;
    background-repeat: no-repeat;
    font-family: 'Amatic SC', sans-serif;
    background-attachment: fixed;
    background-position: center;
  }
  .paymethodfieldset {
    margin-top: 30px;
    margin-bottom: 40px;
    margin-left: 550;
    border-radius: 1em;
    color: #db166c;
    border: 0;
    outline: none;
}
  #bton
  {
    border-radius: 5em;
    color: #fff;
    background: #db166c;
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
    outline: none;
  }

  