body {
    background-repeat: no-repeat;
    font-family: "Amatic SC", sans-serif;
      background-image : url("https://image.freepik.com/free-vector/credit-card-payment-concept-landing-page_23-2148322664.jpg");
  }